* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #b8b8b8;
}

li {
  font-size: 20px;
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: #c6eb33;
}

.layouts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  height: 80px;
  width: 100%;
  background: #849ed1;

  &__container {
    width: 70%;
    margin: auto;
  }
}

.wrapper {
  width: 80%;
  margin: auto;

  display: flex;
  gap: 30px;

  .aside {
    width: 40%;
    height: calc(100vh - 120px);
    background: #849ed1;
    border-radius: 10px;
    padding: 30px 50px;
  }

  .main {
    width: 100%;
    height: calc(100vh - 120px);
    background: #d9d9d9;
    padding: 50px 20px;
    border-radius: 10px;

    .container {
      width: 100%;
      height: 100%;
      color: #000;
      overflow: hidden;

      p {
        line-height: 1.5;
      }

      h2 {
        margin-top: 10px;
      }

      img {
        max-width: 100%;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
    }

    .leadership {
      display: flex;
      gap: 20px;

      &-img {
        min-width: fit-content;
        width: 100px;
        height: 119px;
      }

      &-title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;
      }
    }

    .partner {
      display: flex;
      align-items: center;
      gap: 20px;

      &-img {
        width: 100px;
      }
    }
  }
}
